In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()
spark

## 1. Read the dataset
- `spark.read.option('header', 'true').csv(...)`
- `spark.read.csv(..., header=True, inferSchema=True)`

In [8]:
df = spark.read.option('header', 'true').csv('../data/melb_data.csv', inferSchema=True)

In [9]:
df.show()

+----------+-------------------+-----+----+---------+------+-------+----------+--------+--------+--------+--------+---+--------+------------+---------+-----------+---------+----------+--------------------+-------------+
|    Suburb|            Address|Rooms|Type|    Price|Method|SellerG|      Date|Distance|Postcode|Bedroom2|Bathroom|Car|Landsize|BuildingArea|YearBuilt|CouncilArea|Lattitude|Longtitude|          Regionname|Propertycount|
+----------+-------------------+-----+----+---------+------+-------+----------+--------+--------+--------+--------+---+--------+------------+---------+-----------+---------+----------+--------------------+-------------+
|Abbotsford|       85 Turner St|    2|   h|1480000.0|     S| Biggin| 3/12/2016|     2.5|  3067.0|     2.0|     1.0|1.0|   202.0|        NULL|     NULL|      Yarra| -37.7996|  144.9984|Northern Metropol...|       4019.0|
|Abbotsford|    25 Bloomburg St|    2|   h|1035000.0|     S| Biggin| 4/02/2016|     2.5|  3067.0|     2.0|     1.0|0.0|   156.0|        79.0|   1900.0|      Yarra| -37.8079|  144.9934|Northern Metropol...|       4019.0|
|Abbotsford|       5 Charles St|    3|   h|1465000.0|    SP| Biggin| 4/03/2017|     2.5|  3067.0|     3.0|     2.0|0.0|   134.0|       150.0|   1900.0|      Yarra| -37.8093|  144.9944|Northern Metropol...|       4019.0|
|Abbotsford|   40 Federation La|    3|   h| 850000.0|    PI| Biggin| 4/03/2017|     2.5|  3067.0|     3.0|     2.0|1.0|    94.0|        NULL|     NULL|      Yarra| -37.7969|  144.9969|Northern Metropol...|       4019.0|
|Abbotsford|        55a Park St|    4|   h|1600000.0|    VB| Nelson| 4/06/2016|     2.5|  3067.0|     3.0|     1.0|2.0|   120.0|       142.0|   2014.0|      Yarra| -37.8072|  144.9941|Northern Metropol...|       4019.0|
|Abbotsford|     129 Charles St|    2|   h| 941000.0|     S| Jellis| 7/05/2016|     2.5|  3067.0|     2.0|     1.0|0.0|   181.0|        NULL|     NULL|      Yarra| -37.8041|  144.9953|Northern Metropol...|       4019.0|
|Abbotsford|       124 Yarra St|    3|   h|1876000.0|     S| Nelson| 7/05/2016|     2.5|  3067.0|     4.0|     2.0|0.0|   245.0|       210.0|   1910.0|      Yarra| -37.8024|  144.9993|Northern Metropol...|       4019.0|
|Abbotsford|      98 Charles St|    2|   h|1636000.0|     S| Nelson| 8/10/2016|     2.5|  3067.0|     2.0|     1.0|2.0|   256.0|       107.0|   1890.0|      Yarra|  -37.806|  144.9954|Northern Metropol...|       4019.0|
|Abbotsford| 6/241 Nicholson St|    1|   u| 300000.0|     S| Biggin| 8/10/2016|     2.5|  3067.0|     1.0|     1.0|1.0|     0.0|        NULL|     NULL|      Yarra| -37.8008|  144.9973|Northern Metropol...|       4019.0|
|Abbotsford|      10 Valiant St|    2|   h|1097000.0|     S| Biggin| 8/10/2016|     2.5|  3067.0|     3.0|     1.0|2.0|   220.0|        75.0|   1900.0|      Yarra|  -37.801|  144.9989|Northern Metropol...|       4019.0|
|Abbotsford| 411/8 Grosvenor St|    2|   u| 700000.0|    VB| Jellis|12/11/2016|     2.5|  3067.0|     2.0|     2.0|1.0|     0.0|        NULL|     NULL|      Yarra|  -37.811|  145.0067|Northern Metropol...|       4019.0|
|Abbotsford|    40 Nicholson St|    3|   h|1350000.0|    VB| Nelson|12/11/2016|     2.5|  3067.0|     3.0|     2.0|2.0|   214.0|       190.0|   2005.0|      Yarra| -37.8085|  144.9964|Northern Metropol...|       4019.0|
|Abbotsford|123/56 Nicholson St|    2|   u| 750000.0|     S| Biggin|12/11/2016|     2.5|  3067.0|     2.0|     2.0|1.0|     0.0|        94.0|   2009.0|      Yarra| -37.8078|  144.9965|Northern Metropol...|       4019.0|
|Abbotsford|      45 William St|    2|   h|1172500.0|     S| Biggin|13/08/2016|     2.5|  3067.0|     2.0|     1.0|1.0|   195.0|        NULL|     NULL|      Yarra| -37.8084|  144.9973|Northern Metropol...|       4019.0|
|Abbotsford| 7/20 Abbotsford St|    1|   u| 441000.0|    SP|   Greg|14/05/2016|     2.5|  3067.0|     1.0|     1.0|1.0|     0.0|        NULL|     NULL|      Yarra| -37.8016|  144.9988|Northern Metropol...|       4019.0|
|Abbotsford|      16 William St|    2|   h|1310000.0|     S| Jellis|15/10/2016|     2.5|  3067.0|     2.0|     1.0|2.0|   238.0|        97.0|   1890.0|      Yarra|  -37.809|  144.9976|Northern Metropol...|       4019.0|
|Abbotsford|        42 Henry St|    3|   h|1200000.0|     S| Jellis|16/07/2016|     2.5|  3067.0|     3.0|     2.0|1.0|   113.0|       110.0|   1880.0|      Yarra| -37.8056|   144.993|Northern Metropol...|       4019.0|
|Abbotsford|        78 Yarra St|    3|   h|1176500.0|     S| LITTLE|16/07/2016|     2.5|  3067.0|     2.0|     1.0|1.0|   138.0|       105.0|   1890.0|      Yarra| -37.8021|  144.9965|Northern Metropol...|       4019.0|
|Abbotsford|   196 Nicholson St|    3|   h| 955000.0|     S|Collins|17/09/2016|     2.5|  3067.0|     3.0|     1.0|0.0|   183.0|        NULL|     NULL|      Yarra| -37.8022|  144.9975|Northern Metropol...|       4019.0|
|Abbotsford|      42 Valiant St|    2|   h| 890000.0|     S| Biggin|17/09/2016|     2.5|  3067.0|     2.0|     1.0|1.0|   150.0|        73.0|   1985.0|      Yarra| -37.8011|  145.0004|Northern Metropol...|       4019.0|
+----------+-------------------+-----+----+---------+------+-------+----------+--------+--------+--------+--------+---+--------+------------+---------+-----------+---------+----------+--------------------+-------------+
only showing top 20 rows

In [11]:
data = spark.read.csv('../data/melb_data.csv', header=True, inferSchema=True)
data.show()

+----------+-------------------+-----+----+---------+------+-------+----------+--------+--------+--------+--------+---+--------+------------+---------+-----------+---------+----------+--------------------+-------------+
|    Suburb|            Address|Rooms|Type|    Price|Method|SellerG|      Date|Distance|Postcode|Bedroom2|Bathroom|Car|Landsize|BuildingArea|YearBuilt|CouncilArea|Lattitude|Longtitude|          Regionname|Propertycount|
+----------+-------------------+-----+----+---------+------+-------+----------+--------+--------+--------+--------+---+--------+------------+---------+-----------+---------+----------+--------------------+-------------+
|Abbotsford|       85 Turner St|    2|   h|1480000.0|     S| Biggin| 3/12/2016|     2.5|  3067.0|     2.0|     1.0|1.0|   202.0|        NULL|     NULL|      Yarra| -37.7996|  144.9984|Northern Metropol...|       4019.0|
|Abbotsford|    25 Bloomburg St|    2|   h|1035000.0|     S| Biggin| 4/02/2016|     2.5|  3067.0|     2.0|     1.0|0.0|   156.0|        79.0|   1900.0|      Yarra| -37.8079|  144.9934|Northern Metropol...|       4019.0|
|Abbotsford|       5 Charles St|    3|   h|1465000.0|    SP| Biggin| 4/03/2017|     2.5|  3067.0|     3.0|     2.0|0.0|   134.0|       150.0|   1900.0|      Yarra| -37.8093|  144.9944|Northern Metropol...|       4019.0|
|Abbotsford|   40 Federation La|    3|   h| 850000.0|    PI| Biggin| 4/03/2017|     2.5|  3067.0|     3.0|     2.0|1.0|    94.0|        NULL|     NULL|      Yarra| -37.7969|  144.9969|Northern Metropol...|       4019.0|
|Abbotsford|        55a Park St|    4|   h|1600000.0|    VB| Nelson| 4/06/2016|     2.5|  3067.0|     3.0|     1.0|2.0|   120.0|       142.0|   2014.0|      Yarra| -37.8072|  144.9941|Northern Metropol...|       4019.0|
|Abbotsford|     129 Charles St|    2|   h| 941000.0|     S| Jellis| 7/05/2016|     2.5|  3067.0|     2.0|     1.0|0.0|   181.0|        NULL|     NULL|      Yarra| -37.8041|  144.9953|Northern Metropol...|       4019.0|
|Abbotsford|       124 Yarra St|    3|   h|1876000.0|     S| Nelson| 7/05/2016|     2.5|  3067.0|     4.0|     2.0|0.0|   245.0|       210.0|   1910.0|      Yarra| -37.8024|  144.9993|Northern Metropol...|       4019.0|
|Abbotsford|      98 Charles St|    2|   h|1636000.0|     S| Nelson| 8/10/2016|     2.5|  3067.0|     2.0|     1.0|2.0|   256.0|       107.0|   1890.0|      Yarra|  -37.806|  144.9954|Northern Metropol...|       4019.0|
|Abbotsford| 6/241 Nicholson St|    1|   u| 300000.0|     S| Biggin| 8/10/2016|     2.5|  3067.0|     1.0|     1.0|1.0|     0.0|        NULL|     NULL|      Yarra| -37.8008|  144.9973|Northern Metropol...|       4019.0|
|Abbotsford|      10 Valiant St|    2|   h|1097000.0|     S| Biggin| 8/10/2016|     2.5|  3067.0|     3.0|     1.0|2.0|   220.0|        75.0|   1900.0|      Yarra|  -37.801|  144.9989|Northern Metropol...|       4019.0|
|Abbotsford| 411/8 Grosvenor St|    2|   u| 700000.0|    VB| Jellis|12/11/2016|     2.5|  3067.0|     2.0|     2.0|1.0|     0.0|        NULL|     NULL|      Yarra|  -37.811|  145.0067|Northern Metropol...|       4019.0|
|Abbotsford|    40 Nicholson St|    3|   h|1350000.0|    VB| Nelson|12/11/2016|     2.5|  3067.0|     3.0|     2.0|2.0|   214.0|       190.0|   2005.0|      Yarra| -37.8085|  144.9964|Northern Metropol...|       4019.0|
|Abbotsford|123/56 Nicholson St|    2|   u| 750000.0|     S| Biggin|12/11/2016|     2.5|  3067.0|     2.0|     2.0|1.0|     0.0|        94.0|   2009.0|      Yarra| -37.8078|  144.9965|Northern Metropol...|       4019.0|
|Abbotsford|      45 William St|    2|   h|1172500.0|     S| Biggin|13/08/2016|     2.5|  3067.0|     2.0|     1.0|1.0|   195.0|        NULL|     NULL|      Yarra| -37.8084|  144.9973|Northern Metropol...|       4019.0|
|Abbotsford| 7/20 Abbotsford St|    1|   u| 441000.0|    SP|   Greg|14/05/2016|     2.5|  3067.0|     1.0|     1.0|1.0|     0.0|        NULL|     NULL|      Yarra| -37.8016|  144.9988|Northern Metropol...|       4019.0|
|Abbotsford|      16 William St|    2|   h|1310000.0|     S| Jellis|15/10/2016|     2.5|  3067.0|     2.0|     1.0|2.0|   238.0|        97.0|   1890.0|      Yarra|  -37.809|  144.9976|Northern Metropol...|       4019.0|
|Abbotsford|        42 Henry St|    3|   h|1200000.0|     S| Jellis|16/07/2016|     2.5|  3067.0|     3.0|     2.0|1.0|   113.0|       110.0|   1880.0|      Yarra| -37.8056|   144.993|Northern Metropol...|       4019.0|
|Abbotsford|        78 Yarra St|    3|   h|1176500.0|     S| LITTLE|16/07/2016|     2.5|  3067.0|     2.0|     1.0|1.0|   138.0|       105.0|   1890.0|      Yarra| -37.8021|  144.9965|Northern Metropol...|       4019.0|
|Abbotsford|   196 Nicholson St|    3|   h| 955000.0|     S|Collins|17/09/2016|     2.5|  3067.0|     3.0|     1.0|0.0|   183.0|        NULL|     NULL|      Yarra| -37.8022|  144.9975|Northern Metropol...|       4019.0|
|Abbotsford|      42 Valiant St|    2|   h| 890000.0|     S| Biggin|17/09/2016|     2.5|  3067.0|     2.0|     1.0|1.0|   150.0|        73.0|   1985.0|      Yarra| -37.8011|  145.0004|Northern Metropol...|       4019.0|
+----------+-------------------+-----+----+---------+------+-------+----------+--------+--------+--------+--------+---+--------+------------+---------+-----------+---------+----------+--------------------+-------------+
only showing top 20 rows

In [14]:
type(df), type(data)

(pyspark.sql.dataframe.DataFrame, pyspark.sql.dataframe.DataFrame)

## 2. To check the data types of the columns
1. printSchema()
2. .dtypes

In [10]:
df.printSchema()

root
 |-- Suburb: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Rooms: integer (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Method: string (nullable = true)
 |-- SellerG: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Distance: double (nullable = true)
 |-- Postcode: double (nullable = true)
 |-- Bedroom2: double (nullable = true)
 |-- Bathroom: double (nullable = true)
 |-- Car: double (nullable = true)
 |-- Landsize: double (nullable = true)
 |-- BuildingArea: double (nullable = true)
 |-- YearBuilt: double (nullable = true)
 |-- CouncilArea: string (nullable = true)
 |-- Lattitude: double (nullable = true)
 |-- Longtitude: double (nullable = true)
 |-- Regionname: string (nullable = true)
 |-- Propertycount: double (nullable = true)

In [26]:
df.dtypes

[('Suburb', 'string'),
 ('Address', 'string'),
 ('Rooms', 'int'),
 ('Type', 'string'),
 ('Price', 'double'),
 ('Method', 'string'),
 ('SellerG', 'string'),
 ('Date', 'string'),
 ('Distance', 'double'),
 ('Postcode', 'double'),
 ('Bedroom2', 'double'),
 ('Bathroom', 'double'),
 ('Car', 'double'),
 ('Landsize', 'double'),
 ('BuildingArea', 'double'),
 ('YearBuilt', 'double'),
 ('CouncilArea', 'string'),
 ('Lattitude', 'double'),
 ('Longtitude', 'double'),
 ('Regionname', 'string'),
 ('Propertycount', 'double')]

In [13]:
data.printSchema()

root
 |-- Suburb: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Rooms: integer (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Method: string (nullable = true)
 |-- SellerG: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Distance: double (nullable = true)
 |-- Postcode: double (nullable = true)
 |-- Bedroom2: double (nullable = true)
 |-- Bathroom: double (nullable = true)
 |-- Car: double (nullable = true)
 |-- Landsize: double (nullable = true)
 |-- BuildingArea: double (nullable = true)
 |-- YearBuilt: double (nullable = true)
 |-- CouncilArea: string (nullable = true)
 |-- Lattitude: double (nullable = true)
 |-- Longtitude: double (nullable = true)
 |-- Regionname: string (nullable = true)
 |-- Propertycount: double (nullable = true)

In [31]:
df.select('Address').dtypes

[('Address', 'string')]

## 3. Selecting Columns and Indexing

In [15]:
df.columns

['Suburb',
 'Address',
 'Rooms',
 'Type',
 'Price',
 'Method',
 'SellerG',
 'Date',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'CouncilArea',
 'Lattitude',
 'Longtitude',
 'Regionname',
 'Propertycount']

In [16]:
data.columns

['Suburb',
 'Address',
 'Rooms',
 'Type',
 'Price',
 'Method',
 'SellerG',
 'Date',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'CouncilArea',
 'Lattitude',
 'Longtitude',
 'Regionname',
 'Propertycount']

In [21]:
df.select('Address')

DataFrame[Address: string]

In [22]:
df.select('Address').show()

+-------------------+
|            Address|
+-------------------+
|       85 Turner St|
|    25 Bloomburg St|
|       5 Charles St|
|   40 Federation La|
|        55a Park St|
|     129 Charles St|
|       124 Yarra St|
|      98 Charles St|
| 6/241 Nicholson St|
|      10 Valiant St|
| 411/8 Grosvenor St|
|    40 Nicholson St|
|123/56 Nicholson St|
|      45 William St|
| 7/20 Abbotsford St|
|      16 William St|
|        42 Henry St|
|        78 Yarra St|
|   196 Nicholson St|
|      42 Valiant St|
+-------------------+
only showing top 20 rows

In [23]:
df.select(['Address', 'Suburb']).show()

+-------------------+----------+
|            Address|    Suburb|
+-------------------+----------+
|       85 Turner St|Abbotsford|
|    25 Bloomburg St|Abbotsford|
|       5 Charles St|Abbotsford|
|   40 Federation La|Abbotsford|
|        55a Park St|Abbotsford|
|     129 Charles St|Abbotsford|
|       124 Yarra St|Abbotsford|
|      98 Charles St|Abbotsford|
| 6/241 Nicholson St|Abbotsford|
|      10 Valiant St|Abbotsford|
| 411/8 Grosvenor St|Abbotsford|
|    40 Nicholson St|Abbotsford|
|123/56 Nicholson St|Abbotsford|
|      45 William St|Abbotsford|
| 7/20 Abbotsford St|Abbotsford|
|      16 William St|Abbotsford|
|        42 Henry St|Abbotsford|
|        78 Yarra St|Abbotsford|
|   196 Nicholson St|Abbotsford|
|      42 Valiant St|Abbotsford|
+-------------------+----------+
only showing top 20 rows

In [24]:
df['Address']

Column<'Address'>

In [25]:
# Error, doesn't work like select(...).show()
df['Address'].show()

TypeError: 'Column' object is not callable

## 4. describe() function

In [32]:
df.describe()

DataFrame[summary: string, Suburb: string, Address: string, Rooms: string, Type: string, Price: string, Method: string, SellerG: string, Date: string, Distance: string, Postcode: string, Bedroom2: string, Bathroom: string, Car: string, Landsize: string, BuildingArea: string, YearBuilt: string, CouncilArea: string, Lattitude: string, Longtitude: string, Regionname: string, Propertycount: string]

In [33]:
df.describe().show()

+-------+----------+-------------+------------------+-----+-----------------+------+-------+---------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------+-------------------+-------------------+--------------------+-----------------+
|summary|    Suburb|      Address|             Rooms| Type|            Price|Method|SellerG|     Date|          Distance|         Postcode|          Bedroom2|          Bathroom|               Car|         Landsize|      BuildingArea|         YearBuilt| CouncilArea|          Lattitude|         Longtitude|          Regionname|    Propertycount|
+-------+----------+-------------+------------------+-----+-----------------+------+-------+---------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------+-------------------+-------------------+--------------------+-----------------+
|  count|     13580|        13580|             13580|13580|            13580| 13580|  13580|    13580|             13580|            13580|             13580|             13580|             13518|            13580|              7130|              8205|       12211|              13580|              13580|               13580|            13580|
|   mean|      NULL|         NULL|   2.9379970544919| NULL|1075684.079455081|  NULL|   NULL|     NULL|10.137776141384117|3105.301914580265|2.9147275405007362|1.5342415316642122|1.6100754549489569|558.4161266568483|151.96764988779805|1964.6842169408897|        NULL|-37.809202733431505| 144.99521618777578|                NULL|7454.417378497791|
| stddev|      NULL|         NULL|0.9557479384215565| NULL|639310.7242960163|  NULL|   NULL|     NULL| 5.868724943071715|90.67696408711355| 0.965921061708427|0.6917117224588424| 0.962633519245631|3990.669241109034| 541.0145376263513| 37.27376222396062|        NULL|0.07925982260355832|0.10391556140730973|                NULL|4378.581771795497|
|    min|Abbotsford|  1 Adelle Ct|                 1|    h|          85000.0|    PI|@Realty|1/07/2017|               0.0|           3000.0|               0.0|               0.0|               0.0|              0.0|               0.0|            1196.0|     Banyule|          -38.18255|          144.43181|Eastern Metropolitan|            249.0|
|    max|Yarraville|9b Stewart St|                10|    u|        9000000.0|    VB|  iTRAK|9/09/2017|              48.1|           3977.0|              20.0|               8.0|              10.0|         433014.0|           44515.0|            2018.0|Yarra Ranges|          -37.40853|          145.52635|    Western Victoria|          21650.0|
+-------+----------+-------------+------------------+-----+-----------------+------+-------+---------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------+-------------------+-------------------+--------------------+-----------------+

## 5. Adding and Dropping Columns

In [35]:
df = df.withColumn('YearBuilt Updated', df['YearBuilt'] + 2)

In [37]:
df.select(['YearBuilt', 'YearBuilt Updated']).show()

+---------+-----------------+
|YearBuilt|YearBuilt Updated|
+---------+-----------------+
|     NULL|             NULL|
|   1900.0|           1902.0|
|   1900.0|           1902.0|
|     NULL|             NULL|
|   2014.0|           2016.0|
|     NULL|             NULL|
|   1910.0|           1912.0|
|   1890.0|           1892.0|
|     NULL|             NULL|
|   1900.0|           1902.0|
|     NULL|             NULL|
|   2005.0|           2007.0|
|   2009.0|           2011.0|
|     NULL|             NULL|
|     NULL|             NULL|
|   1890.0|           1892.0|
|   1880.0|           1882.0|
|   1890.0|           1892.0|
|     NULL|             NULL|
|   1985.0|           1987.0|
+---------+-----------------+
only showing top 20 rows

In [39]:
df = df.drop('YearBuilt Updated')

In [40]:
df.columns

['Suburb',
 'Address',
 'Rooms',
 'Type',
 'Price',
 'Method',
 'SellerG',
 'Date',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'CouncilArea',
 'Lattitude',
 'Longtitude',
 'Regionname',
 'Propertycount']

## 6. Renaming the Columns

In [42]:
df.withColumnRenamed('Address', 'Address Line').columns

['Suburb',
 'Address Line',
 'Rooms',
 'Type',
 'Price',
 'Method',
 'SellerG',
 'Date',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'CouncilArea',
 'Lattitude',
 'Longtitude',
 'Regionname',
 'Propertycount']